html {
  height: 100%;
}
#root {
  margin: auto;
  overflow-y: scroll;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  padding: 0 10px;
}
@media only screen and (min-width: 800px) {
  #root {
    padding: 0;
    max-width: 1024px;
    width: 90vw;
  }
}

h1, h2, h3, h4 {
  font-family: 'Gochi Hand', Helvetica !important;
}

.app {
  display: grid;
  grid-template-areas: 'title' 'search' 'primary';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto minmax(0, 1fr);
  height: 100%;
  width: 100%;
}

.titlebar {
  grid-area: title;
  margin: 0;
  height: 60px;
  padding: 20px 20px 0 20px;
}

.search {
  grid-area: search;
  width: 100%;
}
#search__group {
  display: grid;
  padding: 0 20px;
  grid-template-areas: 'logo input';
  grid-template-columns: 75px 1fr;
  grid-template-rows: 75px;
}
.search__image {
  grid-area: logo;
}
.search__input {
  grid-area: input;
  padding: 8px 8px 8px 10px;
}
.page__primary {
  grid-area: primary;
  position: relative;
}
