.search_results_table {
  display: flex;
  flex-direction: column;
}

/* ReactTable hacks */
.search_results_table .ReactTable {
  border: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.rt-thead {
  display: none !important;
}
/*
.rt-head {
  -webkit-box-shadow: 0 0px 1px 0px rgba(0,0,0,0.15) !important;
  box-shadow: 0 0px 1px 0px rgba(0,0,0,0.15) !important;
} */
